<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.Mapper.UserMapper">
    <select id="getAllUser" resultType="com.example.student.Bean.User">
        select  * from user
    </select>

    <insert id="AddUser" parameterType="com.example.student.Bean.User">
        insert into user (account,password) value (#{account},#{password});
    </insert>
    
    <update id="UpdateUser" parameterType="com.example.student.Bean.User">
        update user set account=#{account},password=#{password} where iduser=#{iduser}
    </update>

    <delete id="DelUser" parameterType="String">
        delete from user where iduser = #{iduser}
    </delete>

    <select id="getUserById" parameterType="String" resultType="com.example.student.Bean.User">
        select * from user where iduser =#{iduser}
    </select>
    <select id="getUserByAccount" parameterType="String" resultType="com.example.student.Bean.User">
        select * from user where account like CONCAT(CONCAT('%', #{Account}), '%')
    </select>

</mapper>